:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}
html {
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
  /*  margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto ; /*igual podria ser 0 auto 0 auto*/
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
}
.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
    
 }




/*CSS siempre toma al ultio que pongas a pesar que ya hayas puesto uno antes pero si ers mas especifico pues va hacer mas caso al que esta mas especifico*/
/*# es de id*/
/*si se important en uno no important que tan especifico eres va hacer caso a ese*/
/*mas que naa esta es que la primera es la que va agarra como prioridad y por ejemplo si no hay la primero pues agarrara las demas cuando hay como 3 tipos de letras
bold=negrita
: es para pseudoclase
display:una manera en la que se acomoda los elementos
normalize:para adaptar de mejor manera nuestra pagina a diferentes navegadores ya qu ehay algunos que no aceptan todo
especificidad:mientras mas especifico seas mas caso te hace 
rem: unidad de medida que se puede usar enves de los pixeles y se puede utilizar para que se adapte bien en todo tipo de pantallas, mas que nada para los tamaños de letras
media query:
dentro del root lo de los colores siempre deben ir con --
una ventaje de poner el root es que si se quiere hacer un cambio en la paleta sea mas facil de cambiar
Media Queries(consulta):
flex:
nav:lo de lnav siempre si le agregas algo simepre te lo va a poner alado y no abajo 
display: 
padding: lo que esta del limite del elementohacia adentro
margin: ess para lo qu esta fuera
evenly: uniforme
main axis:eje principal*/
