:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3 ;


}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
*, *:before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.sombra{
    /*Sombra del elemento en */
        box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.48);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.48);
        -moz-box-shadow: 0px 0px 15px 0px rgba(112,112,112,0.48);
        background-color: var(--blanco);/*Color de fondo*/
        padding: 2rem;/*Espacio interior*/
        border-radius: 2rem;/*Esquinas redondeadas*/
}
/*Tipografias*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/*Títulos*/
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
  /*  margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto ; /*igual podria ser 0 auto 0 auto*/
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
}
.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
    
 }
/*Hero*/
.hero{
    background-image: url(../img/hero.jpg);/*../ es para regresar a un nivel de directoria ya que la carpeta de img est afuera de CSS*/
    background-repeat: no-repeat;/*Para evitar que se repita la imagen si se hace zoom rout*/
    background-size: cover;/*Este nos da la opcion de poner el tamaño de la imagen y existen varios tamaños: auto:, cover:este ocupa tod el espacio disponible y contain:este toma el tamaño real de la imagen  */
    height: 450px;/*alto dle elemento hero*/
    position: relative;/* Al padre se le debe poner relative*/
    margin-bottom: 2rem;/*Margen inferiror para separar el espacio entre los 2*/
}
.contenido-hero{
    position: absolute;/*El hijo debe ser absolute*/
    background-color: rgba(0,0,0,.7);/*El .7 es el 70% de transparencia*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero p, .contenido-hero h2 {
    color: var(--blanco);

}
.ubicacion{/*Para crear el efecto de que esten juntos la imagen de ubicacion y el texto de merida*/
    display: flex;
    align-items: flex-end;
}
.boton{
    background-color: var(--secundario);/*color de fondo*/
    text-decoration: none;/*quitar el subrayado*/
    padding: 1rem 3rem;/*espacio interior*/
    border-radius: .5rem;/*esquinas redondeadas */
    color: var(--blanco);/*Color del texto */ 
    margin-top: 3rem;/*espacio exterior hacia arriba*/
    font-weight: bold;/*negritas*/
    font-size: 2rem;/*tamaño del texto*/
    text-transform: uppercase;/*poner mayusculas*/
    text-align: center;/*centrar texto*/
    width: 90%;/*ancho dle boton, que abarque el 90% si la pantalla es pequeña */

}
@media (min-width: 768px) {/*Para que el boton se ajuste cuando este un poco menos al de una tablet agarre el tamaño auto*/
    .boton{
        width: auto;
    }
 }

 @media (min-width: 768px) {
     /*Servicios*/
 .servicios{
    display: grid;/*Para habilitar el grid*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 1 rem;
    }
  }
  .servicio{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .servicio h3{
    color: var(--secundario);
    font-weight: normal;
  }
  .servicio p{
    line-height: 2;/*Interlineado*/
    text-align: center;
  }
  .servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }


/*CSS siempre toma al ultio que pongas a pesar que ya hayas puesto uno antes pero si ers mas especifico pues va hacer mas caso al que esta mas especifico*/
/*# es de id*/
/*si se important en uno no important que tan especifico eres va hacer caso a ese*/
/*mas que naa esta es que la primera es la que va agarra como prioridad y por ejemplo si no hay la primero pues agarrara las demas cuando hay como 3 tipos de letras
bold=negrita
: es para pseudoclase
display:una manera en la que se acomoda los elementos
normalize:para adaptar de mejor manera nuestra pagina a diferentes navegadores ya qu ehay algunos que no aceptan todo
especificidad:mientras mas especifico seas mas caso te hace 
rem: unidad de medida que se puede usar enves de los pixeles y se puede utilizar para que se adapte bien en todo tipo de pantallas, mas que nada para los tamaños de letras
media query:
dentro del root lo de los colores siempre deben ir con --
una ventaje de poner el root es que si se quiere hacer un cambio en la paleta sea mas facil de cambiar
Media Queries(consulta):
flex:
nav:lo de lnav siempre si le agregas algo simepre te lo va a poner alado y no abajo 
display: 
padding: lo que esta del limite del elementohacia adentro
margin: ess para lo qu esta fuera
evenly: uniforme
main axis:eje principal
hay otros ocmo hover qu eson focus y visited qu eosn parecidos a hover peor hace diferente cosas
snippets:
box-model:cotent:el contenido,padding:el margen interior, dorder: si se le pone un margen, margin:el margen que va hacia afuera 
Gradiente:
Grid: Para definir el Layout 
Flexbox: sirve para alinear  */
